@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7h7vpi');
  src:  url('../fonts/icomoon.eot?7h7vpi#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?7h7vpi') format('truetype'),
  url('../fonts/icomoon.woff?7h7vpi') format('woff'),
  url('../fonts/icomoon.svg?7h7vpi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playback-pause:before {
  content: "\e906";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-play_arrow:before {
  content: "\e903";
}
.icon-keyboard_arrow_right:before {
  content: "\e904";
}
.icon-keyboard_arrow_left:before {
  content: "\e905";
}
.icon-keyboard_arrow_up:before {
  content: "\e902";
}
.icon-tripadvisor:before {
  content: "\e901";
}
.icon-holiday:before {
  content: "\e900";
}