@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html, body {
  height: 100%;
  font-size: 100%; }

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 300;
  color: #1a1414; }

h2 {
  font-size: 1.75em;
  line-height: 1;
  font-weight: 200;
  margin-bottom: 10px; }

h3 {
  font-size: 1.5em;
  line-height: 1.625em;
  font-weight: 200;
  -webkit-margin-start: -6px; }

h4 {
  font-size: 2.25em;
  line-height: 1.125em;
  font-weight: 200;
  margin-bottom: 20px; }

a:hover, a:active {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

p {
  font-size: 1.125em;
  line-height: 1.75em;
  font-weight: 300; }

span {
  font-weight: 800; }

.baner-reservation, .baner-rating {
  font-size: 1em;
  line-height: 1em;
  font-weight: 300;
  z-index: 999;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block; }
  .baner-reservation span, .baner-rating span {
    font-size: 1em;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: 1.7px;
    display: block;
    margin-bottom: 6px; }

.baner-reservation {
  padding: 15px 30px;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background: #841f1f;
  color: #fff; }

.baner-rating {
  position: absolute;
  bottom: 8%;
  left: 15px;
  font-size: 0.75em;
  line-height: 1em;
  font-weight: 300;
  border: 1px solid #fff;
  background: rgba(26, 20, 20, 0.3);
  color: #fff;
  font-weight: 600;
  max-width: 55px;
  height: 55px;
  padding: 5px; }

#packets {
  padding: 50px 0;
  text-align: center; }
  #packets p {
    color: #888;
    font-size: 1em;
    line-height: 1;
    font-weight: 300; }

#rooms {
  background: url("../img/rooms_background.jpg") no-repeat; }

#location {
  background: url("../img/location_background.jpg") no-repeat; }

#relax {
  background: url("../img/relax_background.jpg") no-repeat; }

#rooms, #location, #relax {
  background-size: cover;
  color: #fff; }
  #rooms .container-section-desc, #location .container-section-desc, #relax .container-section-desc {
    margin: 50px 0;
    width: 100%;
    background-color: rgba(26, 20, 20, 0.8);
    padding: 30px 15px;
    text-align: center; }
    #rooms .container-section-desc a, #location .container-section-desc a, #relax .container-section-desc a {
      margin-top: 40px; }

#spa, #conferences {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  text-align: center; }
  #spa .left-container, #conferences .left-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #spa .right-container, #conferences .right-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 15px; }
    #spa .right-container .container-section-desc, #conferences .right-container .container-section-desc {
      margin-top: 20px; }
      #spa .right-container .container-section-desc a, #conferences .right-container .container-section-desc a {
        margin-top: 40px; }

#contact-newsletter {
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%; }
  #contact-newsletter #map-canvas {
    float: left;
    width: 100%;
    height: 410px; }
  #contact-newsletter .contact-info {
    float: right;
    position: relative;
    display: table-cell;
    color: #fff;
    width: 100%; }
    #contact-newsletter .contact-info .contact-container {
      position: relative;
      width: 100%;
      background-color: #841f1f;
      overflow: hidden;
      min-height: 410px;
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #contact-newsletter .contact-info .contact-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        opacity: 0.12;
        background-image: url("../img/contact_backgroud.jpg");
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%; }
      #contact-newsletter .contact-info .contact-container .contact-left-info {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 1.333em;
        line-height: 1.5em;
        font-weight: 300; }
        #contact-newsletter .contact-info .contact-container .contact-left-info address {
          margin-bottom: 20px;
          line-height: 1.5; }
      #contact-newsletter .contact-info .contact-container .contact-right-info {
        width: 100%;
        float: right;
        padding: 50px;
        margin-top: 30px;
        border: 1px solid #fff;
        text-align: center; }
        #contact-newsletter .contact-info .contact-container .contact-right-info a {
          display: block; }
        #contact-newsletter .contact-info .contact-container .contact-right-info span {
          letter-spacing: 4px;
          display: block;
          font-size: 2em;
          line-height: 1.5; }
        #contact-newsletter .contact-info .contact-container .contact-right-info a {
          color: #fff;
          font-size: 1.333em; }
    #contact-newsletter .contact-info .newsletter-container {
      background: #1a1414;
      min-height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px; }
      #contact-newsletter .contact-info .newsletter-container .newsletter-info {
        width: 100%;
        margin: 0 auto;
        text-align: center; }
        #contact-newsletter .contact-info .newsletter-container .newsletter-info p {
          margin-bottom: 40px; }
        #contact-newsletter .contact-info .newsletter-container .newsletter-info .newsletter-form {
          width: 100%;
          margin: 0 auto; }
          #contact-newsletter .contact-info .newsletter-container .newsletter-info .newsletter-form .input-append {
            float: left;
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center; }

footer {
  min-height: 180px;
  position: relative;
  color: #888;
  text-align: center;
  padding: 15px; }
  footer .footer-content {
    display: flex;
    width: 100%;
    min-height: inherit;
    align-items: center;
    flex-direction: column; }
    footer .footer-content > div {
      flex: 1; }
    footer .footer-content .footer-left {
      display: flex;
      justify-content: space-around;
      padding: 0 15px;
      float: left;
      width: 100%;
      flex-direction: column; }
      footer .footer-content .footer-left .copyright span {
        font-size: 0.778em;
        line-height: 0.667em;
        font-weight: 300;
        display: block;
        margin-bottom: 10px; }
      footer .footer-content .footer-left .phone-mail {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        padding: 20px 0; }
        footer .footer-content .footer-left .phone-mail a {
          color: #888;
          font-size: inherit;
          float: right;
          line-height: 1.5em; }
          footer .footer-content .footer-left .phone-mail a:hover {
            color: #841f1f; }
          footer .footer-content .footer-left .phone-mail a:first-child {
            float: left; }
    footer .footer-content .footer-right {
      width: 100%;
      padding: 0 15px;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; }
      footer .footer-content .footer-right .social-media-list {
        display: flex;
        justify-content: center;
        padding: 20px; }
        footer .footer-content .footer-right .social-media-list li.icon {
          border: 1px solid #e7e7e7;
          float: left;
          margin-left: 10px;
          position: relative;
          color: #841f1f;
          background-color: rgba(132, 31, 31, 0);
          transition: all .5s ease; }
          footer .footer-content .footer-right .social-media-list li.icon a {
            display: table;
            width: 54px;
            height: 54px;
            color: #aaa; }
            footer .footer-content .footer-right .social-media-list li.icon a i {
              font-size: 25px;
              padding-top: 5px;
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              height: 100%;
              text-align: center;
              line-height: normal; }
          footer .footer-content .footer-right .social-media-list li.icon:after {
            box-sizing: content-box;
            content: "";
            height: 100%;
            width: 100%;
            box-shadow: 0 0 0 1px #e7e7e7;
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            opacity: 1;
            transition: all .25s ease; }
          footer .footer-content .footer-right .social-media-list li.icon:hover {
            background-color: #841f1f; }
          footer .footer-content .footer-right .social-media-list li.icon:hover a {
            color: #fff; }
          footer .footer-content .footer-right .social-media-list li.icon:hover:after {
            padding: 1px;
            left: -1px;
            top: -1px;
            box-shadow: 0 0 0 2px #841f1f; }
      footer .footer-content .footer-right .back-to-top {
        text-align: right;
        margin-left: 20px; }

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 4.375em;
    line-height: 1;
    font-weight: 200;
    margin-bottom: 20px; }
  p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300; }
  #packets {
    padding: 70px 0; }
    #packets p {
      font-size: 1.5em;
      line-height: 1.125em;
      font-weight: 300; }
  #spa, #conferences {
    text-align: left;
    flex-direction: row; }
    #spa .left-container, #conferences .left-container {
      width: 50%; }
    #spa .right-container, #conferences .right-container {
      width: 50%; }
      #spa .right-container .container-section-desc, #conferences .right-container .container-section-desc {
        margin-top: 0; }
  #rooms .container-section-desc, #location .container-section-desc, #relax .container-section-desc {
    text-align: left;
    margin: 45px 0;
    padding: 40px 20px; }
  #contact-newsletter .contact-info .contact-container {
    flex-direction: row;
    padding: 50px 40px; }
    #contact-newsletter .contact-info .contact-container .contact-left-info {
      width: 37.5%;
      margin-right: 2.5%;
      text-align: left; }
    #contact-newsletter .contact-info .contact-container .contact-right-info {
      width: 60%;
      margin-top: 0; }
  #contact-newsletter .contact-info .newsletter-container .newsletter-info .newsletter-form {
    width: 80%; }
  footer {
    text-align: left;
    display: flex; }
    footer .footer-content {
      flex-direction: row; }
      footer .footer-content .footer-left {
        flex-direction: column;
        width: 50%; }
      footer .footer-content .footer-right {
        flex-direction: row;
        width: 50%;
        align-items: initial;
        justify-content: flex-end; }
        footer .footer-content .footer-right .social-media-list {
          padding: 0 0 20px 0;
          justify-content: flex-end; } }

@media only screen and (min-width: 992px) {
  h3 {
    font-size: 2.25em;
    line-height: 1.125em;
    font-weight: 200;
    margin-bottom: 20px; }
  p {
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 300; }
  .baner-reservation span, .baner-rating span {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: 1.7px;
    display: block;
    margin-bottom: 6px; }
  .baner-rating {
    position: absolute;
    bottom: 11%;
    left: 5%;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
    max-width: 112px;
    height: 112px;
    padding: 25px; }
  #contact-newsletter #map-canvas {
    width: 50%;
    height: 820px; }
  #contact-newsletter .contact-info {
    width: 50%; }
    #contact-newsletter .contact-info .contact-container {
      padding: 40px 30px; }
      #contact-newsletter .contact-info .contact-container .contact-left-info {
        font-size: 1.125em;
        line-height: 1.5em;
        font-weight: 300; }
        #contact-newsletter .contact-info .contact-container .contact-left-info address {
          margin-bottom: 20px; }
      #contact-newsletter .contact-info .contact-container .contact-right-info {
        padding: 50px 0; }
    #contact-newsletter .contact-info .newsletter-container {
      padding: 10px 30px; }
      #contact-newsletter .contact-info .newsletter-container .newsletter-info {
        width: 90%; }
      #contact-newsletter .contact-info .newsletter-container .newsletter-form {
        width: 90%; }
  footer .footer-content .footer-left {
    align-items: baseline;
    flex-direction: row; }
    footer .footer-content .footer-left .phone-mail {
      justify-content: space-around; }
    footer .footer-content .footer-left a {
      font-size: 1em;
      line-height: normal; } }

@media only screen and (min-width: 1248px) {
  h3 {
    font-size: 5em;
    line-height: 1.25em;
    font-weight: 200;
    margin-bottom: 20px; }
  p {
    font-size: 1.125em;
    line-height: 2em;
    font-weight: 300; }
  .baner-reservation {
    display: block; }
  #spa, #conferences {
    padding: 135px 0; }
  #rooms .container-section-desc, #location .container-section-desc, #relax .container-section-desc {
    margin: 85px 0;
    padding: 40px 30px;
    box-sizing: content-box; }
  #contact-newsletter .contact-info .contact-container {
    padding: 40px 50px; }
    #contact-newsletter .contact-info .contact-container .contact-left-info {
      font-size: 1.5em;
      line-height: 1.5;
      font-weight: 300;
      width: 40%;
      margin-right: 1%; }
      #contact-newsletter .contact-info .contact-container .contact-left-info address {
        margin-bottom: 30px; }
    #contact-newsletter .contact-info .contact-container .contact-right-info {
      width: 58%;
      padding: 60px 40px; }
  #contact-newsletter .contact-info .newsletter-container {
    padding: 20px; }
    #contact-newsletter .contact-info .newsletter-container .newsletter-info {
      width: 75%; }
    #contact-newsletter .contact-info .newsletter-container .newsletter-form {
      width: 80%; }
  footer .footer-content .footer-left .phone-mail {
    flex-direction: row;
    width: 60%; }
    footer .footer-content .footer-left .phone-mail a {
      font-size: inherit; }
  footer .footer-content .footer-right {
    justify-content: space-around; } }

.button:focus {
  outline: none; }

select::-ms-expand {
  display: none; }

.button-style {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1.125em;
  font-weight: 800; }
  @media only screen and (min-width: 768px) {
    .button-style {
      padding: 15px 30px;
      font-size: 0.813em;
      line-height: 1.125em;
      font-weight: 800; } }
  @media only screen and (min-width: 992px) {
    .button-style {
      padding: 20px 40px;
      font-size: 0.938em;
      line-height: 1.125em;
      font-weight: 800; } }

.btn-with-border {
  color: #fff;
  font-style: normal;
  border: 1px solid #fff;
  text-align: center;
  background: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn-hover-background:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #841f1f;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

#custom-newsletter-form {
  position: relative; }
  #custom-newsletter-form .form-group {
    margin: 0 0 15px 0; }
  #custom-newsletter-form .input-email {
    height: 54px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    color: #888; }
    #custom-newsletter-form .input-email:focus + button {
      z-index: 3; }
    #custom-newsletter-form .input-email::-webkit-input-placeholder {
      color: #888; }
  #custom-newsletter-form input, #custom-newsletter-form label {
    font-size: 1.125em;
    line-height: 1;
    font-weight: 300; }
  #custom-newsletter-form button {
    border: 0;
    height: 54px;
    font-weight: 800;
    background: #841f1f;
    color: #fff;
    padding: 2px 30px;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0; }
  #custom-newsletter-form .styled-checkbox {
    position: absolute;
    opacity: 0; }
    #custom-newsletter-form .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    #custom-newsletter-form .styled-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 3px solid #5f5b5b; }
    #custom-newsletter-form .styled-checkbox:hover + label:before {
      background: transparent;
      border: 3px solid #841f1f; }
    #custom-newsletter-form .styled-checkbox:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
    #custom-newsletter-form .styled-checkbox:checked + label:before {
      background: transparent; }
    #custom-newsletter-form .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    #custom-newsletter-form .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #ddd; }
    #custom-newsletter-form .styled-checkbox:checked + label:after {
      content: '';
      background-image: url("../img/checked-mark.svg");
      background-repeat: no-repeat;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      display: block;
      left: 3px;
      top: 3px;
      width: 15px;
      height: 15px; }

#return-to-top {
  position: relative;
  color: #1a1414;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: middle; }
  #return-to-top .to-top-arrow {
    width: 54px;
    height: 54px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    text-align: center; }
    #return-to-top .to-top-arrow i {
      color: #fff;
      position: relative;
      font-size: 30px;
      line-height: 54px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #return-to-top .to-top-arrow:hover {
      cursor: pointer;
      color: #841f1f; }
  #return-to-top .button {
    min-width: 54px;
    float: none; }
  #return-to-top .button.button--background {
    background: #1a1414;
    color: #fff; }
  #return-to-top .button--background:hover {
    background-color: #fff;
    color: #841f1f; }
  #return-to-top:hover i {
    color: #841f1f; }

.button {
  min-width: 150px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 768px) {
    .button {
      float: left; } }

.button:focus {
  outline: none; }

.button--border-thin {
  border: 1px solid; }

.button.button--background {
  background: #841f1f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; }

.button--background {
  background: #fff;
  color: #841f1f; }

.button--background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #841f1f;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--background::before {
  border-color: #943434; }

.button--background:hover {
  background-color: #fff;
  color: #841f1f; }

.button--background:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 150px;
  overflow: hidden; }

.effect.effect-2 {
  transition: all 0.2s linear 0s; }
  .effect.effect-2:before {
    content: "\ea3c";
    font-family: 'icomoon';
    position: absolute;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex;
    /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    /* OLD… */
    -ms-flex-align: center;
    /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s linear 0s; }
  .effect.effect-2:hover {
    text-indent: -9999px; }
    .effect.effect-2:hover:before {
      top: 0;
      text-indent: 0; }

.double-border {
  width: 35px;
  height: 35px;
  outline: 1px solid rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.2s linear 0s; }
  .double-border:hover {
    outline: 1px solid #841f1f;
    border: 1px solid rgba(0, 0, 0, 0.1); }

header {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }
  header .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff !important;
    z-index: 9999; }
    header .fixed.navbar.navbar-default {
      webkit-box-shadow: 2px 2px 5px 0px rgba(132, 31, 31, 0.8) !important;
      -moz-box-shadow: 2px 2px 5px 0px rgba(132, 31, 31, 0.8) !important;
      box-shadow: 2px 2px 5px 0px rgba(132, 31, 31, 0.8) !important; }
  header #navbar-primary .navbar-header {
    float: left; }
    header #navbar-primary .navbar-header .select-container-language {
      position: absolute;
      top: 25px;
      left: 5%; }
      header #navbar-primary .navbar-header .select-container-language .select-language {
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1;
        font-weight: 800;
        width: 54px;
        height: 54px;
        text-align-last: center;
        padding: 15px 14px;
        border: 1px solid #d6d6d6;
        appearance: none;
        -webkit-appearance: none;
        /*Removes default chrome and safari style*/
        -moz-appearance: none;
        /*Removes default style Firefox*/ }
        header #navbar-primary .navbar-header .select-container-language .select-language:hover {
          cursor: pointer; }
    header #navbar-primary .navbar-header .navbar-brand-left {
      display: none;
      margin: 0;
      padding: 0; }
    header #navbar-primary .navbar-header .navbar-brand-center {
      padding: 0; }
    header #navbar-primary .navbar-header .navbar-toggle {
      display: none;
      overflow: hidden; }
      header #navbar-primary .navbar-header .navbar-toggle .icon-bar {
        transition: opacity, transform;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7); }
      header #navbar-primary .navbar-header .navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg); }
      header #navbar-primary .navbar-header .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%); }
      header #navbar-primary .navbar-header .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg); }
  header #navbar-primary.navbar.navbar-default {
    min-height: 108px !important;
    margin-bottom: 0;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  header #navbar-primary .navbar-collapse {
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    min-height: 108px; }
    header #navbar-primary .navbar-collapse .baner-reservation {
      display: none; }
  header .navbar-default .navbar-nav {
    min-height: inherit;
    display: table !important;
    margin: 0;
    padding: 0;
    height: 108px; }
    header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:focus, header .navbar-default .navbar-nav > .open > a:hover {
      border: 0;
      color: #fff;
      background: #841f1f;
      background-color: #841f1f;
      box-shadow: none; }
    header .navbar-default .navbar-nav > li {
      display: table-cell !important;
      vertical-align: middle;
      height: inherit; }
      header .navbar-default .navbar-nav > li > a {
        text-shadow: none;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        height: 100%;
        color: #1a1414;
        align-items: center;
        font-size: 1em;
        line-height: 1;
        font-weight: 800;
        position: relative;
        -webkit-transition: all 0.35s, -webkit-transform 0.35s;
        transition: all 0.35s, transform 0.35s; }
      header .navbar-default .navbar-nav > li .dropdown-toggle span {
        font-size: .750em;
        top: auto;
        margin-left: 10px; }
      header .navbar-default .navbar-nav > li:hover, header .navbar-default .navbar-nav > li:active, header .navbar-default .navbar-nav > li:focus, header .navbar-default .navbar-nav > li:hover a, header .navbar-default .navbar-nav > li:active a, header .navbar-default .navbar-nav > li:focus a {
        box-shadow: none;
        color: #fff;
        background: #841f1f; }
      header .navbar-default .navbar-nav > li .dropdown-menu {
        position: absolute;
        left: auto;
        right: auto;
        top: auto;
        z-index: 1000;
        margin: 0 0 0;
        list-style: none;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1;
        font-weight: 600;
        border: none;
        background: #841f1f;
        padding: 0;
        border-radius: 0;
        -webkit-transition: all 0.35s, -webkit-transform 0.35s;
        transition: all 0.35s, transform 0.35s; }
        header .navbar-default .navbar-nav > li .dropdown-menu li {
          border-top: 0.5px solid #943434; }
          header .navbar-default .navbar-nav > li .dropdown-menu li:last-child {
            border-bottom: none; }
          header .navbar-default .navbar-nav > li .dropdown-menu li a {
            padding: 10px 15px !important;
            color: #fff; }
            header .navbar-default .navbar-nav > li .dropdown-menu li a:hover {
              color: #fff;
              background: #943434; }
  @media only screen and (min-width: 1248px) {
    header ul.nav li:hover > ul.dropdown-menu {
      display: block; } }
  @media all and (max-width: 1248px) {
    header {
      /* Reset responsive Bootstrap elements */
      /* Reposition elements affected by the sliding menu */ }
      header #navbar-primary {
        transition: all 0.35s ease; }
        header #navbar-primary .navbar-header {
          float: none;
          display: table;
          width: 100%;
          margin: 0; }
          header #navbar-primary .navbar-header .select-container-language {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            top: auto;
            left: 15px; }
          header #navbar-primary .navbar-header .navbar-brand-left {
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
          header #navbar-primary .navbar-header .navbar-toggle {
            margin-right: 15px;
            display: table-cell;
            vertical-align: middle;
            z-index: 999;
            border: none;
            border-radius: 0;
            background-color: #841f1f;
            padding: 20px 16px; }
            header #navbar-primary .navbar-header .navbar-toggle:active, header #navbar-primary .navbar-header .navbar-toggle:hover {
              background-color: #841f1f; }
            header #navbar-primary .navbar-header .navbar-toggle .icon-bar {
              background: #fff;
              height: 2px; }
            header #navbar-primary .navbar-header .navbar-toggle .icon-bar + .icon-bar {
              margin-top: 4px; }
        header #navbar-primary:last-child li a {
          border-bottom: 0.5px solid #943434; }
        header #navbar-primary .navbar-collapse {
          display: block !important;
          position: fixed;
          top: 0;
          margin: 0;
          right: -270px;
          width: 270px;
          z-index: 9999;
          height: 100% !important;
          background: #841f1f;
          /*max-height: 100%;*/
          padding: 0;
          transition: right 0.35s ease; }
          header #navbar-primary .navbar-collapse.collapsing {
            transition: right 0.35s ease; }
          header #navbar-primary .navbar-collapse.in {
            right: 0; }
          header #navbar-primary .navbar-collapse .navbar-brand-center {
            display: none; }
          header #navbar-primary .navbar-collapse .baner-reservation {
            display: block;
            position: relative;
            top: auto;
            background: brown;
            font-size: 10px !important;
            padding: 10px;
            margin: 30px 15px; }
        header #navbar-primary.navbar.navbar-default {
          min-height: 50px !important; }
      header .navbar-default .navbar-nav {
        display: block !important;
        float: none !important;
        width: 100%;
        height: auto; }
        header .navbar-default .navbar-nav .open .dropdown-menu {
          position: static;
          float: none;
          background-color: transparent;
          border: 0;
          box-shadow: none; }
        header .navbar-default .navbar-nav .dropdown.open > a, header .navbar-default .navbar-nav .dropdown.open > a:focus {
          background: #943434;
          background-color: #943434; }
        header .navbar-default .navbar-nav li {
          display: block !important;
          float: none; }
          header .navbar-default .navbar-nav li a {
            padding: 20px;
            color: #fff !important;
            justify-content: space-between; }
          header .navbar-default .navbar-nav li .dropdown-toggle span {
            font-size: .9em; }
          header .navbar-default .navbar-nav li .dropdown-menu li a {
            padding: 15px 40px !important; }
      header #wrapper {
        position: relative;
        margin-right: 0;
        transition: all 0.35s ease; } }

body.menu-slider.in {
  overflow: hidden; }
  body.menu-slider.in .overlay {
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.35s ease;
    z-index: 999; }

body.menu-slider #navbar-primary {
  transition: all 0.35s ease; }

body.menu-slider.in #navbar-primary {
  right: 270px;
  margin-right: 0; }

@media only screen and (min-width: 480px) {
  body.menu-slider.in #navbar-primary {
    margin-right: 270px;
    right: 0; } }

.dropdown.open .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px dashed;
  border-top: 0 solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.slide-wrapper {
  position: relative; }
  .slide-wrapper .carousel-inner .item {
    max-height: 730px;
    margin: 0; }
    .slide-wrapper .carousel-inner .item > img {
      width: 100%;
      height: 100%;
      /* Carousel Header Styles */ }
      @media only screen and (min-width: 480px) {
        .slide-wrapper .carousel-inner .item > img {
          width: 100%;
          height: auto; } }
    .slide-wrapper .carousel-inner .item > .header-text {
      position: absolute;
      width: 70%;
      max-width: 100%;
      left: 15%;
      right: 15%;
      bottom: 10px;
      margin: auto;
      color: #fff; }
      @media only screen and (min-width: 768px) {
        .slide-wrapper .carousel-inner .item > .header-text {
          bottom: 38px; } }
      @media only screen and (min-width: 992px) {
        .slide-wrapper .carousel-inner .item > .header-text {
          bottom: 8%; } }
      .slide-wrapper .carousel-inner .item > .header-text h1 {
        text-shadow: 0 0 9px rgba(0, 0, 0, 0.74);
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: 200; }
        @media only screen and (min-width: 480px) {
          .slide-wrapper .carousel-inner .item > .header-text h1 {
            font-size: 2em;
            line-height: 1;
            font-weight: 200;
            margin-bottom: 25px; } }
        @media only screen and (min-width: 768px) {
          .slide-wrapper .carousel-inner .item > .header-text h1 {
            font-size: 3em;
            line-height: 1;
            font-weight: 200; } }
        @media only screen and (min-width: 992px) {
          .slide-wrapper .carousel-inner .item > .header-text h1 {
            font-size: 5em;
            line-height: 1;
            font-weight: 200;
            margin-bottom: 65px; } }
      .slide-wrapper .carousel-inner .item > .header-text h2 {
        font-size: 1em;
        line-height: 1.8;
        font-weight: 200; }
        @media only screen and (min-width: 480px) {
          .slide-wrapper .carousel-inner .item > .header-text h2 {
            font-size: 1.5em;
            line-height: 1;
            font-weight: 200;
            margin-bottom: 25px; } }
        @media only screen and (min-width: 992px) {
          .slide-wrapper .carousel-inner .item > .header-text h2 {
            font-size: 2em;
            line-height: 2.222em;
            font-weight: 200; } }
        .slide-wrapper .carousel-inner .item > .header-text h2 blockquote {
          color: #fff;
          display: inline-block;
          text-shadow: 0 0 9px rgba(0, 0, 0, 0.74);
          font-style: italic;
          margin: 0; }
        .slide-wrapper .carousel-inner .item > .header-text h2 i {
          position: relative;
          padding: 8px 7px;
          font-size: 12px;
          background-color: #8fc661;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px; }
          @media only screen and (min-width: 768px) {
            .slide-wrapper .carousel-inner .item > .header-text h2 i {
              padding: 14px 11px;
              font-size: 16px; } }
          @media only screen and (min-width: 992px) {
            .slide-wrapper .carousel-inner .item > .header-text h2 i {
              padding: 17px 14px;
              font-size: 20px; } }
  .slide-wrapper .carousel-caption {
    padding: 0; }

.packets-slide {
  padding-top: 20px;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .packets-slide {
      width: 90%;
      padding-top: 55px;
      margin: 0 auto; } }
  @media only screen and (min-width: 992px) {
    .packets-slide {
      width: 100%; } }
  .packets-slide .slick-prev:before, .packets-slide .slick-next:before {
    content: ''; }
  .packets-slide .left, .packets-slide .right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .packets-slide .left, .packets-slide .right {
        width: 42px; } }
    @media only screen and (min-width: 992px) {
      .packets-slide .left, .packets-slide .right {
        width: 52px; } }
  .packets-slide .left {
    background-image: url(../img/left-arrow.svg);
    left: -15% !important; }
    @media only screen and (min-width: 768px) {
      .packets-slide .left {
        left: -8% !important; } }
  .packets-slide .right {
    background-image: url(../img/right-arrow.svg);
    right: -15% !important; }
    @media only screen and (min-width: 768px) {
      .packets-slide .right {
        right: -8% !important; } }
  .packets-slide .slick-dots {
    bottom: auto;
    margin-top: 15px; }
    .packets-slide .slick-dots li.slick-active button:before {
      color: #841f1f; }
    .packets-slide .slick-dots li:hover button:before {
      color: #841f1f; }
  .packets-slide .packets-item {
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%; }
    .packets-slide .packets-item:after, .packets-slide .packets-item:before {
      content: '';
      display: table; }
    .packets-slide .packets-item:after {
      clear: both; }
    .packets-slide .packets-item .single-packet-container {
      width: 100%;
      height: auto;
      display: inline-block; }
      .packets-slide .packets-item .single-packet-container .img-container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: default;
        display: block;
        text-align: center;
        margin: 0 auto;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -ms-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        margin-bottom: 30px; }
        .packets-slide .packets-item .single-packet-container .img-container img {
          width: 100%;
          height: auto;
          transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease; }
      .packets-slide .packets-item .single-packet-container .packet-title {
        font-size: 1em;
        line-height: 1;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: .19em;
        z-index: 999; }
        .packets-slide .packets-item .single-packet-container .packet-title a {
          color: #1a1414; }
        @media only screen and (min-width: 768px) {
          .packets-slide .packets-item .single-packet-container .packet-title {
            font-size: 1.25em;
            line-height: 1;
            font-weight: 800; } }
      .packets-slide .packets-item .single-packet-container .img-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 0 rgba(26, 20, 20, 0.2);
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -ms-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-backface-visibility: hidden;
        /*for a smooth font */ }
        .packets-slide .packets-item .single-packet-container .img-info button {
          position: relative;
          top: 45%; }
      .packets-slide .packets-item .single-packet-container:hover img {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
      .packets-slide .packets-item .single-packet-container:hover .img-info {
        opacity: 1;
        box-shadow: inset 0 0 0 400px rgba(26, 20, 20, 0.2);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .packets-slide .packets-item .single-packet-container:hover .packet-title {
        color: #841f1f; }

#spa .control-container, #conferences .control-container {
  position: absolute;
  top: auto;
  left: 30px;
  bottom: 30px; }

#spa .carousel-control.right, #spa .carousel-control.left, #spa .play, #spa .pause, #conferences .carousel-control.right, #conferences .carousel-control.left, #conferences .play, #conferences .pause {
  display: block;
  background-repeat: no-repeat;
  background-size: 19px 10px;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  right: auto;
  position: relative; }

#spa .carousel-control.right, #conferences .carousel-control.right {
  background-image: url(../img/right-arrow.svg); }

#spa .carousel-control.left, #conferences .carousel-control.left {
  background-image: url(../img/left-arrow.svg);
  margin-right: 8px; }

#spa .play, #conferences .play {
  background-image: url(../img/play.svg);
  margin-right: 8px;
  background-color: transparent; }

#spa .pause, #conferences .pause {
  background-image: url(../img/pause.svg);
  margin-right: 8px;
  background-color: transparent; }
