html, body {
  height: 100%;
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $basic-font;
  @include text-details($basic-font-size, $basic-line-height, 300);
  color: $basic-font-color;
}

h2 {
  @include text-details(1.750em, 1, 200);
  margin-bottom: 10px;
}
h3 {
  @include text-details(1.5em,1.625em,200);
  -webkit-margin-start:-6px;
}
h4 {
  @include text-details(2.250em,1.125em,200);
  margin-bottom: 20px;
}
a:hover, a:active{
  text-decoration: none;
  color: $font-color-light;
  cursor: pointer;
}
p {
  @include text-details(1.125em, 1.750em, 300);
}
span {
  font-weight: 800;
}
.baner-reservation, .baner-rating {
  @include text-details(1em,1em,300);
  z-index: 999;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  span {
    @include text-details(1em,1em,800);
    letter-spacing: 1.7px;
    display: block;
    margin-bottom: 6px;
  }
}
.baner-reservation {
  padding: 15px 30px;
  display: none;
  @include absolute($top: 40px,$right: 0);
  background: $btn-background-color;
  color: $font-color-light;
}
.baner-rating {
  @include absolute($left: 15px,$bottom: 8%);
  @include text-details(.750em,1em,300);
  border:1px solid $font-color-light;
  background: rgba(26, 20, 20, 0.3);
  color: $font-color-light;
  font-weight: 600;
  max-width: 55px;
  height: 55px;
  padding: 5px;
}
#packets {
  padding: 50px 0;
  text-align: center;
  p {
    color: $font-color-desc-section;
    @include text-details(1em,1,300);
  }
}

// Setion rooms
#rooms {
  background: url("../img/rooms_background.jpg") no-repeat;
}

//Section location
#location {
  background: url("../img/location_background.jpg") no-repeat;
}
//relax section
#relax {
  background: url("../img/relax_background.jpg") no-repeat;
}

#rooms, #location, #relax {
  @include background-cover;
  color: $font-color-light;
  .container-section-desc {
    margin: 50px 0;
    width: 100%;
    background-color: rgba(26, 20, 20, 0.8);
    padding: 30px 15px;
    text-align: center;
    a {
      margin-top: 40px;
    }
  }
}
//Setion SPA
#spa, #conferences {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  text-align: center;
  .left-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .right-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 15px;
    .container-section-desc {
      margin-top: 20px;
      a {
        margin-top: 40px;
      }
    }
  }
}

//Section contact and newsletter

#contact-newsletter {
  overflow:hidden;
  position: relative;
  display: table;
  width: 100%;
  #map-canvas {
    float: left;
    width: 100%;
    height: 410px;
  }
  .contact-info {
    float: right;
    position: relative;
    display: table-cell;
    color: $font-color-light;
    width: 100%;
    .contact-container {
      position: relative;
      width: 100%;
      background-color: $btn-background-color;
      overflow: hidden;
      min-height: 410px;
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        opacity: 0.12;
        background-image: url("../img/contact_backgroud.jpg");
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%;
      }
      .contact-left-info {
        float: left;
        width: 100%;
        text-align: center;
        @include text-details(1.333em,1.5em, 300);
        address {
          margin-bottom: 20px;
          line-height: 1.5;
        }
      }
      .contact-right-info {
        width: 100%;
        float: right;
        padding: 50px;
        margin-top: 30px;
        border: 1px solid $font-color-light;
        text-align: center;
         a {
           display: block;
         }
        span {
          letter-spacing: 4px;
          display: block;
          font-size: 2em;
          line-height: 1.5;
        }
        a {
          color: $font-color-light;
          font-size: 1.333em;
        }
      }
    }
    .newsletter-container {
      background: $basic-font-color;
      min-height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      .newsletter-info {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        p {
          margin-bottom: 40px;
        }
        .newsletter-form {
          width: 100%;
          margin: 0 auto;
          .input-append {
            float: left;
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
footer {
  min-height: 180px;
  position: relative;
  color: $placeholder-color;
  text-align: center;
  padding: 15px;
  .footer-content {
    display: flex;
    width: 100%;
    min-height: inherit;
    align-items: center;
    flex-direction: column;
    > div {
      flex: 1;
    }
    .footer-left {
      display: flex;
      justify-content: space-around;
      padding: 0 15px;
      float: left;
      width: 100%;
      flex-direction: column;
      .copyright {
        span {
          @include text-details(0.778em, 0.667em, 300);
          display: block;
          margin-bottom: 10px;
        }
      }
      .phone-mail {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        padding: 20px 0;
        a {
          color: $placeholder-color;
          font-size: inherit;
          float: right;
          line-height: 1.5em;
          &:hover {
            color: $btn-background-color;
          }
          &:first-child {
            float: left;
          }
        }
      }
    }
    .footer-right {
      width: 100%;
      padding: 0 15px;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      .social-media-list {
        display: flex;
        justify-content: center;
        padding: 20px;
        li.icon {
          border: 1px solid $social-media-color-border;
          float: left;
          margin-left: 10px;
          position: relative;
          color: $btn-background-color;
          background-color:rgba(132, 31, 31, 0);
          transition:all .5s ease;
          a {
            display: table;
            width: 54px;
            height: 54px;
            color: #aaa;
            i {
              font-size: 25px;
              padding-top: 5px;
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              height: 100%;
              text-align: center;
              line-height: normal;
            }
          }
          &:after {
            box-sizing:content-box;
            content:"";
            height:100%;
            width:100%;
            box-shadow:0 0 0 1px $social-media-color-border;
            position:absolute;
            padding: 0;
            top:0;
            left:0;
            opacity:1;
            transition:all .25s ease;
          }
          &:hover {
            background-color:rgba(132, 31, 31, 1);
          }
          &:hover a {
            color:$font-color-light;
          }
          &:hover:after {
            padding:1px;
            left:-1px;
            top:-1px;
            box-shadow:0 0 0 2px $btn-background-color;
          }
        }
      }
      .back-to-top {
        text-align: right;
        margin-left: 20px;
      }
    }
  }
}
@media #{$small} {
  h2 {
    @include text-details(4.375em, 1, 200);
    margin-bottom: 20px;
  }
  p {
    @include text-details(1em, 1.50em, 300);
  }
  #packets {
    padding: 70px 0;
    p{
      @include text-details(1.5em,1.125em,300);
    }
  }
  #spa, #conferences  {
    text-align: left;
    flex-direction: row;
    .left-container {
      width: 50%;
    }
    .right-container {
      width: 50%;
      .container-section-desc {
        margin-top: 0;
      }
    }
  }
  #rooms, #location, #relax {
    .container-section-desc {
      text-align: left;
      margin: 45px 0;
      padding: 40px 20px;
    }
  }
  #contact-newsletter {
    .contact-info {
      .contact-container {
        flex-direction: row;
        padding: 50px 40px;
        .contact-left-info {
          width: 37.5%;
          margin-right: 2.5%;
          text-align: left;
        }
        .contact-right-info {
          width: 60%;
          margin-top: 0;
        }
      }
      .newsletter-container {
        .newsletter-info {
          .newsletter-form  {
            width: 80%;
          }
        }
      }
    }
  }
  footer {
    text-align: left;
    display: flex;
    .footer-content {
      flex-direction: row;
      .footer-left {
        flex-direction: column;
        width: 50%;
      }
      .footer-right {
        flex-direction: row;
        width: 50%;
        align-items: initial;
        justify-content: flex-end;
        .social-media-list {
          padding: 0 0 20px 0;
          justify-content: flex-end;
        }
      }
    }
  }
}
@media #{$medium} {
  h3 {
    @include text-details(2.25em,1.125em,200);
    margin-bottom: 20px;
  }
  p {
    @include text-details(1.125em, 1.750em, 300);
  }
  .baner-reservation, .baner-rating {
    span {
      @include text-details(1.5em,1em,800);
      letter-spacing: 1.7px;
      display: block;
      margin-bottom: 6px;
    }
  }
  .baner-rating {
    @include absolute($left: 5%,$bottom: 11%);
    @include text-details(1em,1em,300);
    max-width: 112px;
    height: 112px;
    padding: 25px;
  }
  #contact-newsletter {
    #map-canvas {
      width: 50%;
      height: 820px;
    }
    .contact-info {
      width: 50%;
      .contact-container {
        padding: 40px 30px;
        .contact-left-info {
          @include text-details(1.125em,1.5em, 300);
          address {
            margin-bottom: 20px;
          }
        }
        .contact-right-info {
           padding: 50px 0;
        }
      }
      .newsletter-container {
        padding: 10px 30px;
        .newsletter-info {
          width: 90%;
        }
        .newsletter-form {
          width: 90%;
        }
      }
    }
  }
  footer {
    .footer-content {
      .footer-left {
        align-items: baseline;
        flex-direction: row;
        .phone-mail {
          justify-content: space-around;
        }
        a {
          font-size: 1em;
          line-height: normal;
        }
      }
    }
  }
}
@media #{$large} {
  h3 {
    @include text-details(5em,1.250em,200);
    margin-bottom: 20px;
  }
  p {
    @include text-details(1.125em, 2em, 300);
  }
  .baner-reservation {
    display: block;
  }
  #spa, #conferences  {
      padding: 135px 0;
  }
  #rooms, #location, #relax {
    .container-section-desc {
      margin: 85px 0;
      padding: 40px 30px;
      box-sizing: content-box;
    }
  }
  #contact-newsletter {
    .contact-info {
      .contact-container {
        padding: 40px 50px;
        .contact-left-info {
          @include text-details(1.500em,1.5, 300);
          width: 40%;
          margin-right: 1%;
          address {
            margin-bottom: 30px;
          }
        }
        .contact-right-info {
          width: 58%;
          padding: 60px 40px;
        }
      }
      .newsletter-container {
        padding: 20px;
        .newsletter-info {
          width: 75%;
        }
        .newsletter-form  {
          width: 80%;
        }
      }
    }
  }
  footer {
    .footer-content {
      .footer-left {
        .phone-mail {
          flex-direction: row;
          width: 60%;
          a {
            font-size: inherit;
          }
        }
      }
      .footer-right  {
        justify-content: space-around;
      }
    }
  }
}