// Default text details
@mixin text-details($size,$line-height,$weight){
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
// position absolute
@mixin absolute($top: null, $right: null, $bottom: null, $left: null){
  position: absolute;
  top: $top;
  right: $right;
  bottom:$bottom;
  left:$left;
}
//display flex
@mixin display-flex ($align: null, $justify: null){
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

  -webkit-box-align: $align; -moz-box-align: center; /* OLD… */
  -ms-flex-align: $align; /* You know the drill now… */
  -webkit-align-items: $align;
  align-items: $align;

  -webkit-box-pack: $justify;
  -moz-box-pack: $justify;
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}
//Animation
@mixin animacja-linear {
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
@mixin animacja-ease-in-out ($time) {
  -webkit-transition:all $time ease-in-out;
  -moz-transition:all $time ease-in-out;
  -o-transition:all $time ease-in-out;
  transition:all $time ease-in-out;
}
//background cover
@mixin background-cover {
  background-size: cover;
}