@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// Media queries
$x-small: "only screen and (min-width: 480px)";
$small: "only screen and (min-width: 768px)";
$medium: "only screen and (min-width: 992px)";
$large: "only screen and (min-width: 1248px)";

//Fonts
$basic-font: 'Raleway', sans-serif;;
$basic-font-size: 16px;
$basic-line-height: 36px;


//Colors
$basic-font-color: #1a1414;
$font-color-light: #fff;
$btn-background-color: #841f1f;
$border-mobile-nav-color: #943434;
$font-color-desc-section:#888;
$placeholder-color:#888;
$checkbox-color:#5f5b5b;
$select-color:#d6d6d6;
$social-media-color-border: #e7e7e7;
$social-media-color: #aaa;

//animation hamburger button
$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);