.button:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
.button-style {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  @include text-details(0.750em, 1.125em,800);
  @media #{$small} {
    padding: 15px 30px;
    @include text-details(0.813em, 1.125em,800);
  }
  @media #{$medium} {
    padding: 20px 40px;
    @include text-details(0.938em, 1.125em,800);
  }
}
.btn-with-border {
  color: $font-color-light;
  font-style: normal;
  border:1px solid $font-color-light;
  text-align: center;
  background: transparent;
  @include animacja-ease-in-out(.4s);
}

.btn-hover-background {
  &:hover {
    color: $font-color-light;
    border:1px solid transparent;
    background: $btn-background-color;
    @include animacja-ease-in-out(.4s);
  }
}
#custom-newsletter-form {
  position: relative;
  .form-group {
    margin: 0 0 15px 0;
  }
  .input-email{
    height: 54px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    color: $placeholder-color;
    &:focus + button {
      z-index: 3;
    }
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
  }
  input, label {
    @include text-details(1.125em,1,300);
  }
  button {
    border: 0;
    height: 54px;
    font-weight: 800;
    background: #841f1f;
    color: #fff;
    padding: 2px 30px;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
  }
  // checkbox
  .styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 3px solid $checkbox-color;
    }
    // Box hover
    &:hover + label:before {
      background: transparent;
      border: 3px solid $btn-background-color;
    }
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    // Box checked
    &:checked + label:before {
      background: transparent;
    }
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      background-image: url("../img/checked-mark.svg");
      background-repeat: no-repeat;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      display: block;
      left: 3px;
      top: 3px;
      width: 15px;
      height: 15px;
    }
  }
}
//bact to top
#return-to-top {
  position: relative;
  color: $basic-font-color;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: middle;
  .to-top-arrow {
    width: 54px;
    height: 54px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    text-align: center;
    i {
      color: #fff;
      position: relative;
      font-size: 30px;
      line-height: 54px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      cursor: pointer;
      color: $btn-background-color;
    }
  }
  .button {
    min-width: 54px;
    float: none;
  }
  .button.button--background {
    background: $basic-font-color;
    color: #fff;
  }

  .button--background:hover {
    background-color: #fff;
    color: $btn-background-color;
  }
  &:hover i {
    color: $btn-background-color;
  }
}
.button {
  min-width: 150px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  @media #{$small} {
    float: left;
  }
}
.button:focus {
  outline: none;
}
.button--border-thin {
  border: 1px solid;
}
.button.button--background {
  background: $btn-background-color;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--background {
  background: #fff;
  color: $btn-background-color;
}
.button--background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid $btn-background-color;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--background::before {
  border-color: $border-mobile-nav-color;
}
.button--background:hover {
  background-color: #fff;
  color: $btn-background-color;
}
.button--background:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 150px;
  overflow: hidden;
}
.effect.effect-2 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\ea3c";
    font-family: 'icomoon';
    position: absolute;
    @include display-flex (center, center);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -9999px;

    &:before {
      top: 0;
      text-indent: 0;
    }
  }
}

.double-border {
  width:35px;
  height:35px;
  outline:1px solid rgba(255, 255, 255, 0.8);
  border:1px solid rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.2s linear 0s;
  &:hover {
    outline:1px solid rgba(132, 31, 31, 1);
    border:1px solid rgba(0, 0, 0, 0.1);
  }
}