header {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  .fixed {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    background-color: $font-color-light !important;
    z-index: 9999;
    &.navbar.navbar-default {
      webkit-box-shadow: 2px 2px 5px 0px rgba(132,31,31,0.8) !important;
      -moz-box-shadow: 2px 2px 5px 0px rgba(132,31,31,0.8) !important;
      box-shadow: 2px 2px 5px 0px rgba(132,31,31,0.8) !important;
    }
  }
  #navbar-primary {
    .navbar-header {
      float: left;
      .select-container-language {
        position: absolute;
        top: 25px;
        left: 5%;
        .select-language {
          text-align: center;
          text-transform: uppercase;
          @include text-details(1em, 1, 800);
          width: 54px;
          height: 54px;
          text-align-last:center;
          padding: 15px 14px;
          border:1px solid $select-color;
          appearance: none;
          -webkit-appearance: none; /*Removes default chrome and safari style*/
          -moz-appearance: none; /*Removes default style Firefox*/
          &:hover {
            cursor: pointer;
          }
        }
      }
      .navbar-brand-left {
        display: none;
        margin: 0;
        padding: 0;
      }
      .navbar-brand-center {
        padding: 0;
      }
      .navbar-toggle {
        display: none;
        overflow: hidden;
        .icon-bar {
          transition: opacity, transform;
          transition-duration: $speed;
          transition-timing-function: $easing;
        }
        &:not(.collapsed) {
          .icon-bar {
            &:nth-child(1) {
              transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
              transform: translateX(-100%);
            }
            &:nth-child(3) {
              transform: translateY(-6px) rotate(-45deg);
            }
          }
        }
      }
    }
    &.navbar.navbar-default {
      min-height: 108px !important;
      margin-bottom: 0;
      box-shadow: none;
      background-image: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
    }
    .navbar-collapse {
      width: 85%;
      margin: 0 auto;
      position: relative;
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      min-height: 108px;
      .baner-reservation {
        display: none;
      }
    }
  }
  .navbar-default {
    .navbar-nav {
      min-height: inherit;
      display: table !important;
      margin: 0;
      padding: 0;
      height: 108px;
      >.open>a, >.open>a:focus, >.open>a:hover {
        border: 0;
        color: $font-color-light;
        background: $btn-background-color;
        background-color: $btn-background-color;
        box-shadow: none;
      }
      >li {
        display: table-cell !important;
        vertical-align: middle;
        height: inherit;
        >a {
          text-shadow: none;
          text-transform: uppercase;
          text-decoration: none;
          display: flex;
          height: 100%;
          color: $basic-font-color;
          align-items: center;
          @include text-details(1em, 1, 800);
          position: relative;
          -webkit-transition: all 0.35s, -webkit-transform 0.35s;
          transition: all 0.35s, transform 0.35s;
        }
        .dropdown-toggle {
          span {
            font-size: .750em;
            top: auto;
            margin-left: 10px;
          }
        }
        &:hover, &:active, &:focus, &:hover a, &:active a, &:focus a {
          box-shadow: none;
          color: $font-color-light;
          background: $btn-background-color;
        }
        .dropdown-menu {
          position: absolute;
          left: auto;
          right: auto;
          top: auto;
          z-index: 1000;
          margin: 0 0 0;
          list-style: none;
          text-transform: uppercase;
          @include text-details(1em,1,600);
          border: none;
          background: $btn-background-color;
          padding: 0;
          border-radius: 0;
          -webkit-transition: all 0.35s, -webkit-transform 0.35s;
          transition: all 0.35s, transform 0.35s;
          li {
            border-top: .5px solid $border-mobile-nav-color;
            &:last-child {
              border-bottom: none;
            }
            a {
              padding: 10px 15px !important;
              color: $font-color-light;
              &:hover {
                color: #fff;
                background: $border-mobile-nav-color;

              }
            }
          }
        }
      }
    }
  }
  @media #{$large} {
    ul.nav li:hover > ul.dropdown-menu {
      display: block;
    }
  }
  @media all and (max-width: 1248px) {
    /* Reset responsive Bootstrap elements */
    #navbar-primary {
      transition: all 0.35s ease;
      .navbar-header {
        float: none;
        display: table;
        width: 100%;
        margin: 0;
        .select-container-language {
          display: table-cell;
          vertical-align: middle;
          position: relative;
          top: auto;
          left: 15px;
        }
        .navbar-brand-left {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
        .navbar-toggle {
          margin-right: 15px;
          display: table-cell;
          vertical-align: middle;
          z-index: 999;
          border: none;
          border-radius: 0;
          background-color: $btn-background-color;
          padding: 20px 16px;
          &:active, &:hover {
            background-color: $btn-background-color;
          }
          .icon-bar {
            background: #fff;
            height: 2px;
          }
          .icon-bar + .icon-bar {
            margin-top: 4px;
          }
        }
      }
      &:last-child li a {
        border-bottom: .5px solid $border-mobile-nav-color;
      }
      .navbar-collapse {
        display: block !important;
        position: fixed;
        top: 0;
        margin: 0;
        right: -270px;
        width: 270px;
        z-index: 9999;
        height: 100% !important;
        background: $btn-background-color;
        /*max-height: 100%;*/
        padding: 0;
        transition: right 0.35s ease;
        &.collapsing {
          transition: right 0.35s ease;
        }
        &.in {
          right: 0;
        }
        .navbar-brand-center {
          display: none;
        }
        .baner-reservation {
          display: block;
          position: relative;
          top: auto;
          background: brown;
          font-size: 10px !important;
          padding: 10px;
          margin: 30px 15px;
        }
      }
      &.navbar.navbar-default {
        min-height: 50px !important;
      }
    }
    .navbar-default {
      .navbar-nav {
        display: block !important;
        float: none !important;
        width: 100%;
        height: auto;
        .open .dropdown-menu {
          position: static;
          float: none;
          background-color: transparent;
          border: 0;
          box-shadow: none;
        }
         .dropdown.open > a, .dropdown.open > a:focus {
           background: $border-mobile-nav-color;
           background-color: $border-mobile-nav-color;
        }
        li {
          display: block !important;
          float: none;
          a {
            padding: 20px;
            color: $font-color-light !important;
            justify-content: space-between;
          }
          .dropdown-toggle {
            span {
              font-size: .9em;
            }
          }
          .dropdown-menu {
            li {
              a {
                padding: 15px 40px !important;
              }
            }
          }
        }
      }
    }
    /* Reposition elements affected by the sliding menu */
    #wrapper {
      position: relative;
      margin-right: 0;
      transition: all 0.35s ease;
    }
  }
}
body.menu-slider.in {
  overflow: hidden;
  .overlay {
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.35s ease;
    z-index: 999;
  }
}
body.menu-slider #navbar-primary {
  transition: all 0.35s ease;
}
body.menu-slider.in #navbar-primary {
  right: 270px;
  margin-right: 0;
}
@media #{$x-small} {
  body.menu-slider.in #navbar-primary {
    margin-right: 270px;
    right: 0;
  }
}
.dropdown.open .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px dashed;
  border-top: 0 solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}