//Slider in header
.slide-wrapper {
  position: relative;
  .carousel-inner {
    .item {
      max-height: 730px;
      margin: 0;
      > img {
        width: 100%;
        height: 100%;
        @media #{$x-small} {
          width: 100%;
          height: auto;
        }
        /* Carousel Header Styles */
      }
      > .header-text {
        position: absolute;
        width: 70%;
        max-width: 100%;
        left: 15%;
        right: 15%;
        bottom: 10px;
        margin: auto;
        color: $font-color-light;
        @media #{$small} {
          bottom: 38px;
        }
        @media #{$medium} {
          bottom: 8%;
        }
        h1 {
          text-shadow: 0 0 9px rgba(0, 0, 0, 0.74);
          text-transform: uppercase;
          margin-bottom: 5px;
          @include text-details(1.5em,1.5,200);
          @media #{$x-small} {
            @include text-details(2em,1,200);
            margin-bottom: 25px;
          }
          @media #{$small} {
            @include text-details(3em,1,200);
          }
          @media #{$medium} {
            @include text-details(5em,1,200);
            margin-bottom: 65px;
          }
        }
        h2 {
          @include text-details(1em,1.8,200);
          @media #{$x-small} {
            @include text-details(1.5em,1,200);
            margin-bottom: 25px;
          }
          @media #{$medium} {
            @include text-details(2em,2.222em,200);
          }
          blockquote {
            color: #fff;
            display: inline-block;
            text-shadow: 0 0 9px rgba(0, 0, 0, 0.74);
            font-style: italic;
            margin: 0;
          }
          i {
            position: relative;
            padding: 8px 7px;
            font-size: 12px;
            background-color: #8fc661;
            display:inline-block;
            vertical-align: middle;
            margin-left: 10px;
            @media #{$small} {
              padding: 14px 11px;
              font-size: 16px;
            }
            @media #{$medium} {
              padding: 17px 14px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .carousel-caption {
    padding: 0;
  }
}
//Slider in packets section
.packets-slide {
  padding-top:20px;
  width: 100%;
  @media #{$small} {
    width: 90%;
    padding-top: 55px;
    margin: 0 auto;
  };
  @media #{$medium} {
    width: 100%;
  }
  .slick-prev:before, .slick-next:before {
    content: '';
  }
  .left, .right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media #{$small} {
      width: 42px;
    }
    @media #{$medium} {
      width: 52px;
    }
    height: 100%;
  }
  .left {
    background-image: url(../img/left-arrow.svg);
    left: -15% !important;
    @media #{$small} {
      left: -8% !important;
    }
  }
  .right {
    background-image: url(../img/right-arrow.svg);
    right: -15% !important;
    @media #{$small} {
      right: -8% !important;
    }
  }
  .slick-dots {
    bottom: auto;
    margin-top: 15px;
    li.slick-active button:before {
      color: $btn-background-color;
    }
    li:hover button:before {
      color: $btn-background-color;
    }
  }
  .packets-item {
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    &:after,
    &:before {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
    .single-packet-container {
      width: 100%;
      height: auto;
      display: inline-block;
      .img-container {
        overflow:hidden;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: default;
        display: block;
        text-align: center;
        margin: 0 auto;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -ms-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
          transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
      }
      .packet-title {
        @include text-details(1em,1, 800);
        text-transform: uppercase;
        letter-spacing: .19em;
        z-index: 999;
        a {
          color: $basic-font-color;
        }
        @media #{$small} {
          @include text-details(1.250em,1, 800);
        }
      }
      .img-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow:inset 0 0 0 0 rgba(26, 20, 20, 0.2);
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        -ms-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-backface-visibility: hidden; /*for a smooth font */
        button {
          position: relative;
          top: 45%;
        }
      }
      &:hover {
        & img {
          cursor: pointer;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }
        & .img-info {
          opacity: 1;
          box-shadow:inset 0 0 0 400px rgba(26, 20, 20, 0.2);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
        & .packet-title {
          color: $btn-background-color;
        }
      }
    }
  }
}

//Slider spa and conferences section
#spa, #conferences {
  .control-container {
    position: absolute;
    top: auto;
    left:30px;
    bottom: 30px;
  }
  .carousel-control.right, .carousel-control.left, .play, .pause {
    display: block;
    background-repeat: no-repeat;
    background-size: 19px 10px;
    background-position: center;
    width: 35px;
    height: 35px;
    float: left;
    right: auto;
    position: relative;

  }
  .carousel-control.right {
    background-image: url(../img/right-arrow.svg);
  }
  .carousel-control.left {
    background-image: url(../img/left-arrow.svg);
    margin-right: 8px;
  }
  .play {
    background-image: url(../img/play.svg);
    margin-right: 8px;
    background-color: transparent;
  }
  .pause {
    background-image: url(../img/pause.svg);
    margin-right: 8px;
    background-color: transparent;
  }
}